

.fullBodyDiv{
    width: 100vw;
    overflow-x: hidden;
}


/*--------------------------------------------------------------------*/
/*Navigering*/
/*--------------------------------------------------------------------*/

.divNav{
    margin: 0 auto;
    position: relative;
}

.ulNav{
    position: fixed;
    display: flex;
    top: 4vh;
    right: 15vw;

}

.aNav{
    color: white;
    font-size: 120%;
    list-style: none;
    display: inline-block;
    margin-left: 2vw;
    background-color: black;
    color: white;
    position: relative;
    padding: 1%;
    border-radius: 5%;
    text-align: center;
}

.aNav:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5%;
}


/*--------------------------------------------------------------------*/
/*Header*/
/*--------------------------------------------------------------------*/

.headerBackground{
    width: 100vw;
    height: 10vh;
    background-color: aqua;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;

}

#h1{
    position: fixed;
    margin-left: 2%;
    top: 2vh;
}

/*--------------------------------------------------------------------*/
/*startsida info*/
/*--------------------------------------------------------------------*/


.infoOmSidan{
    text-align: left;
    width: 60vw;
    margin: 0 auto;
}

/*--------------------------------------------------------------------*/
/*Bilder*/
/*--------------------------------------------------------------------*/

.allaBilderDiv{
    margin-top: 15vh;
}

.allaBilderDiv p{
    text-align: center;
    margin-top: -8%;
    font-weight: 900;
}

.hundDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 60vw;
}

.divBild1 img{
    width: 20vw;
    height: 60vh;
    display: block;
    padding-bottom: 10%;
    margin: 0 auto;
    object-fit:cover; 
}

.divBild2 img{
    width: 20vw;
    display: block;
    padding-bottom: 10%;
    margin: 0 auto;
    object-fit: cover; 
    height: 60vh;
    
}


.kattDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 60vw;
}

.divBild3 img{
    width: 20vw;
    display: block;
    padding-bottom: 10%;
    margin: 0 auto;
    object-fit: cover; 
    height: 60vh;
}

.divBild4 img{
    width: 20vw;
    display: grid;
    padding-bottom: 10%;
    margin: 0 auto;
    object-fit: cover; 
    height: 60vh;
}

/*--------------------------------------------------------------------*/
/**/
/*--------------------------------------------------------------------*/